<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
 
</head>
 
<body style="padding-top:100px;">
 
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand active" href="/">MacLearn</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="/download">Downloads</a></li>
                            <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
 
        <!-- <div class="jumbotron">
            <h1>MacLearn</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="about" role="button">Read more..</a>
            </p>
        </div> -->
        <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
          </div>
 
        <div class="row marketing">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <a href="/download/MacLearn" class="btn btn-primary" role="button">
                        Download MacLearn
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <a href="/download/MacDecrypt" class="btn btn-primary" role="button">
                        Download MacDecrypt
                    </a>
                </div>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>